<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TV Masjid Ibnu Abbas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>

<body>
    <div>
        <section>
            <div class="shape-header">
                <div class="img-header imageheader"></div>
            </div>
            <div class="rectangle">
                <div class="title cairo">Jadwal Masuk Waktu Sholat</div>
                <div class="waktuSekarang cairo">
                    Waktu saat ini: <b><span class="currentTime"></span></b> &nbsp;||&nbsp; Hari/Tanggal: <b
                        class="tanggal"></b>
                    <br>
                    Waktu Sholat selanjutnya <b><span class="nextPrayerTime"></span></b><span class="timePrayer"></span>
                    <footer class="dev">By Hafiy</footer> <!-- penulis memohonkan agar tidak dihapus ðŸ™ -->
                </div>

            </div>
            <div class="Carousel-slider">
                <div class="slider-item poster1"></div>
                <div class="slider-item poster2"></div>
                <div class="slider-item poster3"></div>
                <div class="slider-item poster4"></div>
                <div class="slider-item poster5"></div>
            </div>

            <div class="Shape-info">
                <div class="frame-info posterinfo1"></div>
            </div>

            <div class="shape-header">
                <div class="img-header imagefooter"></div>
            </div>

        </section>
        <div id="timeDifference"></div>
    </div>
    <script>
        const tanggalElement = document.getElementsByClassName('tanggal')[0];
        const currentTimeElement = document.getElementsByClassName('currentTime')[0];
        const prayerTimeElement = document.getElementsByClassName('timePrayer')[0];
        const nextPrayerTimeElement = document.getElementsByClassName('nextPrayerTime')[0];
        const options = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };

        function updateDateAndTime() {
            const currentTime = new Date().toLocaleTimeString('en-US', options);
            currentTimeElement.innerHTML = currentTime;

            const now = new Date();
            const currentHours = now.getHours();
            const currentMinutes = now.getMinutes();
            const currentSeconds = now.getSeconds();
            const date = now.getDate();
            const month = now.getMonth() + 1;
            const year = now.getFullYear();

            const dayOfWeek = now.getDay();
            const daysOfWeek = ["Ahad", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu"];
            const dayName = daysOfWeek[dayOfWeek];

            const tanggal = `${dayName}, ${date}/${month}/${year}`;
            tanggalElement.textContent = tanggal;

            const prayerTime = new Date(year, month - 1, date, currentHours, currentMinutes); // Assuming prayer time is today
            const timeDifference = prayerTime.getTime() - now.getTime();
            const timeDifferenceInSeconds = Math.abs(timeDifference) / 1000;

            const hoursDifference = Math.floor(timeDifferenceInSeconds / 3600);
            const minutesDifference = Math.floor((timeDifferenceInSeconds % 3600) / 60);
            const secondsDifference = Math.floor(timeDifferenceInSeconds % 60);

            // Display time difference
            const timeDifferenceString = `Time until ${prayerTime.toLocaleTimeString('en-US', options)}: ${hoursDifference} hours, ${minutesDifference} minutes, ${secondsDifference} seconds`;
            document.getElementById('timeDifference').textContent = timeDifferenceString;

            let prayerTimeNow;
            let timePrayer;

            if (currentTime < '<%= waktuSubuh %>') {
                prayerTimeNow = "Sholat Subuh";
                timePrayer = '</b> pukul <b> <%= waktuSubuh %>';
            }
            else if (currentTime < '<%= waktuDzuhur %>') {
                if (dayName === "Jum'at") {
                    prayerTimeNow = "Sholat Jum'at"
                    timePrayer = '</b> pukul <b> <%= waktuDzuhur %>';
                } else {
                    prayerTimeNow = "Sholat Dzuhur";
                    timePrayer = '</b> pukul <b> <%= waktuDzuhur %>';
                }
            } else if (currentTime < '<%= waktuAshar %>') {
                prayerTimeNow = "Sholat Ashar";
                timePrayer = '</b> pukul <b> <%= waktuAshar %>';
            } else if (currentTime < '<%= waktuMaghrib %>') {
                prayerTimeNow = "Sholat Maghrib";
                timePrayer = '</b> pukul <b> <%= waktuMaghrib %>';
            } else if (currentTime < '<%= waktuIsya %>') {
                prayerTimeNow = "Sholat Isya";
                timePrayer = '</b> pukul <b> <%= waktuIsya %>';
            } else if (currentTime > '<%= waktuIsya %>') {
                prayerTimeNow = "Sholat Subuh";
                timePrayer = '';
            }

            nextPrayerTimeElement.innerHTML = prayerTimeNow;
            prayerTimeElement.innerHTML = timePrayer;
        }

        updateDateAndTime();
        setInterval(updateDateAndTime, 1000);

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/micro-slider@1.0.9/dist/micro-slider.min.js"></script>
    <script src="/controllers/tv.js"></script>
</body>

</html>