<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>tvmasjid</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>

<body>
    <div>
        <section>
            <div class="shape-header">
                <div class="img-header imageheader"></div>
            </div>
            <div class="rectangle">
                <div class="title cairo">Jadwal Masuk Waktu Sholat</div>
                <div class="waktuSekarang cairo">
                    Waktu Saat ini: <b><span class="currentTime"></span></b> || Hari/Tanggal: <b>
                        <%= tanggal %>
                    </b>
                    <br>
                    Waktu Sholat selanjutnya <b><span class="nextPrayerTime"></span></b><span
                            class="timePrayer"></span>
                    <footer class="dev">By Hafiy</footer>
                </div>
            </div>
            <div class="Carousel-slider">
                <div class="slider-item poster1"></div>
                <div class="slider-item poster2"></div>
                <div class="slider-item poster3"></div>
                <div class="slider-item poster4"></div>
                <div class="slider-item poster5"></div>
            </div>

            <div class="Shape-info">
                <div class="frame-info posterinfo1"></div>
            </div>

            <div class="shape-header">
                <div class="img-header imagefooter"></div>
            </div>

        </section>
    </div>
    <script>
        function updateTime() {
            const currentTimeElement = document.getElementsByClassName('currentTime')[0];
            const prayerTimeElement = document.getElementsByClassName('timePrayer')[0];
            const nextPrayerTimeElement = document.getElementsByClassName('nextPrayerTime')[0];
            const options = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
            const currentTime = new Date().toLocaleTimeString('en-US', options);

            var prayerTimeNow;
            var timePrayer;


            // Display current time
            currentTimeElement.innerHTML = currentTime;

            // Get current time
            const now = new Date();
            const currentHours = now.getHours();
            const currentMinutes = now.getMinutes();
            const currentSeconds = now.getSeconds();

            // Check current prayer time
            if (currentTime < '<%= waktuSubuh %>') {
                prayerTimeNow = "Sholat Subuh";
                timePrayer = '</b> pukul <b> <%= waktuSubuh %>';
            } else if (currentTime < '<%= waktuDzuhur %>') {
                prayerTimeNow = "Sholat Dzuhur";
                timePrayer = '</b> pukul <b> <%= waktuDzuhur %>';
            } else if (currentTime < '<%= waktuAshar %>') {
                prayerTimeNow = "Sholat Ashar";
                timePrayer = '</b> pukul <b> <%= waktuAshar %>';
            } else if (currentTime < '<%= waktuMaghrib %>') {
                prayerTimeNow = "Sholat Maghrib";
                timePrayer = '</b> pukul <b> <%= waktuMaghrib %>';
            } else if (currentTime < '<%= waktuIsya %>') {
                prayerTimeNow = "Sholat Isya";
                timePrayer = '</b> pukul <b> <%= waktuIsya %>';
            } else if (currentTime > '<%= waktuIsya %>') {
                prayerTimeNow = "Sholat Subuh";
                timePrayer = '';
            }

            // Update "Waktu Sholat Selanjutnya" section
            nextPrayerTimeElement.innerHTML = prayerTimeNow;
            prayerTimeElement.innerHTML = timePrayer;
        }

        // Initial call to updateTime
        updateTime();

        // Call updateTime every second
        setInterval(updateTime, 1000);

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/micro-slider@1.0.9/dist/micro-slider.min.js"></script>
    <script src="/controllers/tv.js"></script>
</body>

</html>